.root {
    -fx-border-color: black;
    -fx-font-color: green;
    -fx-background: white;
}

.chart {
    -fx-background: #FCFCFC;
}

.button {
    -fx-max-width: Infinity;
    -fx-padding: 10
}

.spacer {
    -fx-max-height: Infinity;
    -fx-font-weight: bold;
}

VBox, HBox {
    -fx-padding: 15;
    -fx-spacing: 5;
    -fx-alignment: baseline-left;
}